{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F5F4F9;
            margin: auto;
            height: 100vh;
            font-family: 'Comfortaa', cursive;
            color: white;
        }
        .s-container{
            background-color: #151528;
            /*background-color: #151528;*/
            width: 95vw;
            height: 90vh;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            overflow: auto;
        }
        .modal{
            color: black;
        }
        nav{
            background-color: #151528;
            /*background-color: #151528;*/
            box-shadow: none;
        }
        header{
            padding: 30px 80px;
            font-family: 'Comfortaa', cursive;
        }
        .modif-link{
            color: black;
        }
        a:before{
            position: absolute;
            content: '';
            bottom: 0;
            transition: transform 0.25s;
            height: 2px;
            width: 100%;
            background-color: #F2CAA7;
            transform: scaleX(0);
        }
        a{
            color: white;
        }
        a:hover{
            text-decoration: none;
            color: #F2CAA7;
        }
        a:hover:before{
            transform: scaleX(1);
        }
        ::-webkit-scrollbar{
            background-color: #023059;
            width: 5px;
            border-radius: 5px;
        }
        ::-webkit-scrollbar-thumb{
            background-color: #F2CAA7;
        }
        .btn{
            background-color: #023059;
            color: white;
        }
        .s-card{
            transition: 0.5s;
            cursor: pointer;
            color: black;
            background-color: white;
            padding: 20px;
            text-align: center;
            box-shadow: 2px 2px 0 rgba(17, 17, 17, 0.38);
        }
        .s-card img{
            width: 20%;
            height: 100px;
            padding: 10px;
        }
        .s-card:hover{
            color: #F2CAA7;
            transform: scale(1.1);
        }
        thead{
            font-weight: bold;
        }
        table a{
            font-size: 1.3em;
            margin: 2px;
        }
        table a:hover:before{
            transform: scale(0);
        }
        .modal-body{
            background-color: whitesmoke;
        }
    </style>
{% endblock %}
{% block body %}
    {% include 'coummun/homeModals.twig' %}
    {% include "coummun/modals.twig" %}
    <div class="s-container">
        <header>
            <nav>
                <div class="row">
                    <div class="col"><a href="#">G~F</a></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"><a href="#" data-target="#ClientModal" data-toggle="modal">Clients</a></div>
                    <div class="col"><a href="#" data-toggle="modal" data-target="#CommandeModal">Commandes</a></div>
                    <div class="col"><a href="#" data-toggle="modal" data-target="#FactureModal">Factures</a></div>
                    <div class="col"><a href="#" data-target="#ProduitModal" data-toggle="modal">Produits</a></div>
                    <div class="col"><a href="#" data-toggle="modal" data-target="#FournisseurModal">Fournisseur</a></div>
                    <div class="col">
                        <a href="{{ path('logout') }}" >
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
                                <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                                <path fill-rule="evenodd" d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <br>
        <div class="container">
            <br>
            <h3>Accès rapide</h3>
            <br>
            <div class="row">
                <div class="col">
                    <div class="s-card" data-target="#prsModal" data-toggle="modal"><img alt="productOut" src="{{ asset('img/productOut.png') }}">Produits en rupture de stocks</div>
                </div>
                <div class="col">
                    <div class="s-card" data-target="#frModal" data-toggle="modal"><img alt="facture" src="{{ asset('img/facture.png') }}">Factures ayant un retard superieur à 1 mois</div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="s-card"><img alt="tva" src="{{ asset('img/tva.png') }}">TVA (3 derniers mois) : {{ tva}} </div>
                </div>
                <div class="col">
                    <div class="s-card" data-target="#ppaModal" data-toggle="modal"><img src="{{ asset('img/frequence.png') }}">Produits les plus fréquents</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
