{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F5F4F9;
            margin: auto;
            height: 100vh;
            font-family: 'Comfortaa', cursive;
            color: white;
        }
        .s-container{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #151528;
            /*background-color: #151528;*/
            width: 95vw;
            height: 90vh;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            overflow: auto;
        }
        .modal{
            color: black;
        }
        nav{
            background-color: #151528;
            /*background-color: #151528;*/
            box-shadow: none;
        }
        header{
            padding: 30px 80px;
            font-family: 'Comfortaa', cursive;
        }
        .modif-link{
            color: black;
        }
        a:before{
            position: absolute;
            content: '';
            bottom: 0;
            transition: transform 0.25s;
            height: 2px;
            width: 100%;
            background-color: #F2CAA7;
            transform: scaleX(0);
        }
        a{
            color: white;
        }
        a:hover{
            text-decoration: none;
            color: #F2CAA7;
        }
        a:hover:before{
            transform: scaleX(1);
        }
        ::-webkit-scrollbar{
            background-color: #023059;
            width: 5px;
            border-radius: 5px;
        }
        ::-webkit-scrollbar-thumb{
            background-color: #F2CAA7;
        }
        .btn{
            background-color: #023059;
            color: white;
        }
        .s-card{
            transition: transform 0.5s;
            cursor: pointer;
            color: black;
            background-color: white;
            padding: 20px;
            text-align: center;
            box-shadow: 2px 2px 0 rgba(17, 17, 17, 0.38);
        }
        .s-card img{
            width: 20%;
            height: 100px;
            padding: 10px;
        }
        .s-card:hover{
            color: #F2CAA7;
            transform: scale(1.1);
        }
        thead{
            font-weight: bold;
        }
        .b-card{
            background-color: #F5F4F9;
            color: black;
            width: 70%;
            height: 70%;
            padding: 20px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="s-container">
        <div class="b-card">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">{{ form_row(form.designation) }}</div>
                <div class="col">{{ form_row(form.type) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.prix) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.qteStock) }}</div>
                <div class="col"></div>
            </div>
             <div class="row">
                <div class="col">{{ form_row(form.fournisseur) }}</div>
                <div class="col">{{ form_row(form.prix_achat) }}</div>
            </div>
            <div class="row">
                <div class="col"><button class="btn btn-outline-secondary" type="submit">Enregistrer</button></div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}